<a href="https://colab.research.google.com/github/snzima/Xente_Fraud_Detection/blob/master/Xente_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [0]:
train = pd.read_csv('training.csv')

In [10]:
train.head()

         TransactionId         BatchId  ... PricingStrategy FraudResult
0  TransactionId_76871   BatchId_36123  ...               2           0
1  TransactionId_73770   BatchId_15642  ...               2           0
2  TransactionId_26203   BatchId_53941  ...               2           0
3    TransactionId_380  BatchId_102363  ...               2           0
4  TransactionId_28195   BatchId_38780  ...               2           0

[5 rows x 16 columns]

In [0]:
y_train = train['FraudResult']

In [12]:
train.shape

(95662, 16)

In [0]:
ntrain = train.shape[0]

In [0]:
test = pd.read_csv('test.csv')

In [0]:
testId = test['TransactionId']

In [17]:
test.shape

(45019, 15)

In [0]:
ntest = test.shape[0]

In [0]:
all_data = pd.concat((train, test), sort=False).reset_index(drop=True)

In [0]:
Ids_fr = ['TransactionId','BatchId','AccountId','SubscriptionId','CustomerId','ProviderId','ProductId','TransactionStartTime','FraudResult','ChannelId']

In [0]:
X = all_data.drop(Ids_fr,axis=1)

In [22]:
X.head()

  CurrencyCode  CountryCode  ...  Value  PricingStrategy
0          UGX          256  ...   1000                2
1          UGX          256  ...     20                2
2          UGX          256  ...    500                2
3          UGX          256  ...  21800                2
4          UGX          256  ...    644                2

[5 rows x 6 columns]

In [0]:
X_transformed = pd.get_dummies(X)

In [0]:
X_transformed=X_transformed.fillna(0)

In [25]:
 X_transformed.head()

   CountryCode   Amount  ...  ProductCategory_tv  ProductCategory_utility_bill
0          256   1000.0  ...                   0                             0
1          256    -20.0  ...                   0                             0
2          256    500.0  ...                   0                             0
3          256  20000.0  ...                   0                             1
4          256   -644.0  ...                   0                             0

[5 rows x 15 columns]

In [0]:
X_train = X_transformed[:ntrain]
X_test = X_transformed[ntrain:]

In [27]:
X_train.shape

(95662, 15)

In [28]:
X_test.shape

(45019, 15)

## Logistic Regression

In [0]:
lr = LogisticRegression()

In [30]:
lr.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
y_pred = lr.predict(X_test)

In [0]:
submission = pd.DataFrame({'TransactionId':testId,'FraudResult':y_pred}).set_index('TransactionId')

In [0]:
submission.to_csv('submission.csv')

## Random Forest

In [0]:
rfr = RandomForestRegressor()

In [37]:
rfr.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [0]:
y_pred_rfr = rfr.predict(X_test)

In [0]:
submission_rfr = pd.DataFrame({'TransactionId':testId,'FraudResult':y_pred}).set_index('TransactionId')

In [0]:
submission.to_csv('submission_rfr.csv')